button.opp,
button.equal{
    min-width: 60px;
    aspect-ratio: 1/1;
}

body {
    display: flex;
    flex-direction: column;
    max-width: 450px;
}

.calcScreen{
    text-align: center;
}

.calcBody,
.calcBase,
.numRow {
    display: flex;
    flex:1;
    justify-content: center;
}

.numPad {
    display: flex;
    flex-direction: column;
    flex: 3;
}

.operatorPad{
    display: flex;
    flex-direction: column;
    flex: 1;
}

.calcBase button{
    flex: 1;
}